.container{
  width: 100%;
  height: 100%;
  padding: 90px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr, td {
  border: solid 1px #dddddd;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #f4f4f4;
}

.td-head {
  text-transform: uppercase;
}